.finalizada {
    color: gray;
    text-decoration: line-through;
}

.form-alta {
    max-width: 600px;
    text-align: center;

    /* display: flex;
    flex-direction: column;*/
} 
.mayusc{
    text-transform: capitalize; 

}
input, textarea {
    margin-bottom: 15px;
}

body{
    background-color: #dcd8c0;
}

h1,h2,h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #454138;
    font-size: 48px;
}

.inicio{
    text-align: center;
    padding: 15% 5% 0 5%;
}
.botones-inicio{
    padding-top: 2%;
}